/* Makes our label white. */
/* .blocklyTreeLabel {
  color: rgb(3, 3, 3);
 */

/* } */
/* Adds padding around the group of categories and separators. */
/* .blocklyToolboxContents {
  padding: .10em;
 */

/* } */
/* Adds space between the categories, rounds the corners and adds space around the label. */
/* .blocklyTreeRow { */
/*   padding: .10em;  
  border-radius: .3em;
  box-shadow: 10px 10px 10px 10px rgb(0, 0, 0); /* 陰影 */

/* 
  padding: 10px;         /*寬度*/
/* margin-bottom: 1.50em; /*下方間距*/
/*  border-radius: 30px;  /*圓角*/
/* } */
/* Changes color of the icon to white. */
/* .customIcon {
  color: white;
} */
/* Stacks the icon on top of the label. */
/* .blocklyTreeRowContentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;

} */
/* .blocklyTreeRow {
  height: initial;

} */

/* Makes our label white. */
.blocklyTreeLabel {
  color: white;
}
/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
  padding: 0.5em;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
  padding: 3px;
  margin-bottom: 0.5em;
  border-radius: 4px;
}
/* Changes color of the icon to white. */
.customIcon {
  color: white;
}
/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blocklyTreeRow {
  height: initial;
}
