

a {
  text-decoration: none;
}

body {
  font-family: "Microsoft JhengHei";
}

.wrap {
  max-width: 1800px;
  margin: 0 auto;
}

.content {
  padding: 0px 0px 10px;
}

.funbtn {
  flex-wrap: wrap;
}

.funbtn > button {
  background: red;
  font-size: 15px !important;
  line-height: 2;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 1px;
  text-indent: 3px;
  padding: 10px 10px 10px;
  margin: 5px 5px 5px;
}

.btn-group {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  box-shadow: none !important;
  color: black !important;
}

.input-group {
  padding: 0px 10px;
}

